/* Atividade 1 */
 
div {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
 
#aa {
    background-color: red;
}
 
#ab {
    background-color: green;
}
 
#bb {
    background-color: blue;
}
 